{% set body_class = "student-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="student-main">
  {% include './components/_side.html' %}

  <section class="student-section">
    <div class="container">
      <div class="student-heading">
        <a href="/" class="go-back-link"
          ><img src="./images/icons/arr-back.svg" alt="arrow back"
        /></a>

        <h2 class="section-titile">Наказ</h2>
      </div>
      <div class="student-form">
        <div class="student-form-wrapper">
          <div class="student-form-inner">
            <div class="student-form-field error">
              <label for="orderName" class="student-form-label"
                >Повна назва наказу</label
              >
              <input
                type="text"
                id="orderName"
                name="orderName"
                placeholder="Повна назва наказу"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>

            <div class="student-form-field third">
              <label for="orderNumber" class="student-form-label"
                >Наказ #</label
              >
              <input
                type="text"
                id="orderNumber"
                name="orderNumber"
                placeholder="Наказ #"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>

            <div class="student-form-field third">
              <label for="orderSigning" class="student-form-label"
                >Дата підписання</label
              >
              <input
                type="date"
                id="orderSigning"
                name="orderSigning"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>

            <div class="student-form-field third">
              <label for="orderValid" class="student-form-label"
                >Від якої дати дійсний</label
              >
              <input
                type="date"
                id="orderValid"
                name="orderValid"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>

            <div class="student-form-field half">
              <span class="student-form-label">Наказ</span>
              <div class="student-form-file-field">
                <label
                  for="fileInput"
                  id="fileInputLabel"
                  class="student-form-label-file"
                >
                  <span>Додати файл</span>
                  <img src="./images/icons/file.svg" alt="file icon" />
                </label>
                <input
                  type="file"
                  class="student-form-input-file"
                  id="fileInput"
                  name="orderFile"
                />

                <div class="student-form-field-file-selected" id="selectedFile">
                  <div
                    class="student-form-selected-file"
                    id="selectedFileName"
                  ></div>
                  <img
                    src="/images/icons/cross.svg"
                    alt="i"
                    id="removeSelectedFile"
                  />
                </div>
                <span class="student-form-error-text"
                  >Обов’якове для заповнення поле</span
                >
              </div>
            </div>

            <div class="student-form-field half">
              <label for="signed" class="student-form-label">Підписано</label>
              <select id="signed" name="signed" class="student-form-input">
                <option value="18 Скорнякова О.В." selected>
                  18 Скорнякова О.В.
                </option>
                <option value="11 Скорнякова О.В.">11 Скорнякова О.В.</option>
                <option value="12 Скорнякова О.В.">12 Скорнякова О.В.</option>
                <option value="13 Скорнякова О.В.">13 Скорнякова О.В.</option>
              </select>
            </div>
            <div class="student-form-field">
              <!-- <span class="student-form-label"></span> -->
              <div class="student-form-field-radio">
                <label>
                  <input
                    type="radio"
                    name="orderConcern"
                    value="Наказ стосується групи"
                  />
                  Наказ стосується групи
                </label>
                <label>
                  <input
                    type="radio"
                    name="orderConcern"
                    value="Наказ стосується студента"
                    checked
                  />
                  Наказ стосується студента
                </label>
              </div>
            </div>

            <div class="student-form-field">
              <label for="orderGroupName" class="student-form-label"
                >Групи</label
              >

              <select required class="student-form-input" id="orderGroupName">
                <option value="" disabled selected hidden>
                  Введіть назву групи
                </option>
                <option value="11 Скорнякова О.В.">11 Скорнякова О.В.</option>
                <option value="12 Скорнякова О.В.">12 Скорнякова О.В.</option>
                <option value="13 Скорнякова О.В.">13 Скорнякова О.В.</option>
              </select>

              <ul class="student-form-selected-options show">
                <li class="student-form-selected-option">
                  <span>4КГ-07</span
                  ><img src="./images/icons/cross.svg" alt="cross icon" />
                </li>
                <li class="student-form-selected-option">
                  <span>4КГ-07</span
                  ><img src="./images/icons/cross.svg" alt="cross icon" />
                </li>
                <li class="student-form-selected-option">
                  <span>4КГ-07</span
                  ><img src="./images/icons/cross.svg" alt="cross icon" />
                </li>
                <li class="student-form-selected-option">
                  <span>4КГ-07</span
                  ><img src="./images/icons/cross.svg" alt="cross icon" />
                </li>
                <li class="student-form-selected-option">
                  <span>4КГ-07</span
                  ><img src="./images/icons/cross.svg" alt="cross icon" />
                </li>
                <li class="student-form-selected-option">
                  <span>4КГ-07</span
                  ><img src="./images/icons/cross.svg" alt="cross icon" />
                </li>
                <li class="student-form-selected-option">
                  <span>4КГ-07</span
                  ><img src="./images/icons/cross.svg" alt="cross icon" />
                </li>
                <li class="student-form-selected-option">
                  <span>4КГ-07</span
                  ><img src="./images/icons/cross.svg" alt="cross icon" />
                </li>
                <li class="student-form-selected-option">
                  <span>4КГ-07</span
                  ><img src="./images/icons/cross.svg" alt="cross icon" />
                </li>
                <li class="student-form-selected-option">
                  <span>4КГ-07</span
                  ><img src="./images/icons/cross.svg" alt="cross icon" />
                </li>
                <li class="student-form-selected-option">
                  <span>4КГ-07</span
                  ><img src="./images/icons/cross.svg" alt="cross icon" />
                </li>
              </ul>

              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>
            <!-- === -->
          </div>
        </div>

        <div class="student-form-btn-wrapper">
          <button type="button" class="student-form-btn delete">
            <img src="/images/icons/trash-icon.svg" alt="trash" />
          </button>
          <button type="submit" class="student-form-btn submit">
            Зберігти
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %} {% block footer_scripts %} {% endblock %}
