{% set body_class = "student-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="student-main">
  {% include './components/_side.html' %}

  <section class="order-section">
    <div class="container">
      <div class="order-section-inner">
        <div class="student-heading">
          <h2 class="section-titile">Номер наказу</h2>
          <dib class="student-heading-icon-wrapper">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="student-heading-icon-edit"
            >
              <path
                d="M13.0779 4.50136C13.2368 4.34241 13.4255 4.21632 13.6332 4.1303C13.8409 4.04428 14.0635 4 14.2883 4C14.513 4 14.7356 4.04428 14.9433 4.1303C15.151 4.21632 15.3397 4.34241 15.4986 4.50136C15.6576 4.66031 15.7837 4.84901 15.8697 5.05669C15.9557 5.26436 16 5.48695 16 5.71174C16 5.93653 15.9557 6.15912 15.8697 6.3668C15.7837 6.57447 15.6576 6.76317 15.4986 6.92212L7.32855 15.0922L4 16L4.90779 12.6714L13.0779 4.50136Z"
                stroke="#2A2D34"
                stroke-width="1.6"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="student-heading-icon-del"
            >
              <path
                d="M4 5.8H5.33333M5.33333 5.8H16M5.33333 5.8V15.6C5.33333 15.9713 5.47381 16.3274 5.72386 16.5899C5.97391 16.8525 6.31304 17 6.66667 17H13.3333C13.687 17 14.0261 16.8525 14.2761 16.5899C14.5262 16.3274 14.6667 15.9713 14.6667 15.6V5.8H5.33333ZM7.33333 5.8V4.4C7.33333 4.0287 7.47381 3.6726 7.72386 3.41005C7.97391 3.1475 8.31304 3 8.66667 3H11.3333C11.687 3 12.0261 3.1475 12.2761 3.41005C12.5262 3.6726 12.6667 4.0287 12.6667 4.4V5.8M8.66667 9.3V13.5M11.3333 9.3V13.5"
                stroke="#2A2D34"
                stroke-width="1.6"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </dib>
        </div>
        <div class="order-data-scroll">
          <div class="order-data-wrapper">
            <div class="order-data-top-left">
              <h3 class="order-data-title">Від якої дати</h3>
              <span class="order-data-text">01.09.2020</span>
            </div>
            <div class="order-data-top-right">
              <h3 class="order-data-title">Тип наказу</h3>
              <span class="order-data-text"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                venenatis auctor suscipit.</span
              >
            </div>
          </div>

          <div class="order-data-wrapper">
            <div class="order-data-top-left">
              <h3 class="order-data-title">Підписаний</h3>
              <span class="order-data-text">01.09.2020</span>
            </div>
            <div class="order-data-top-right">
              <ol class="order-data-list">
                <li>
                  <a href="/">Валентин Ніколаєв</a>
                  <a href="mailto:daria@gmail.com">daria@gmail.com</a>
                  <a href="tel:+380966745356">+380 (96) 674 53 56</a>
                </li>
                <li>
                  <a href="/">Валентин Ніколаєв</a>
                  <a href="mailto:daria@gmail.com">daria@gmail.com</a>
                  <a href="tel:+380966745356">+380 (96) 674 53 56</a>
                </li>
                <li>
                  <a href="/">Валентин Ніколаєв</a>
                  <a href="mailto:daria@gmail.com">daria@gmail.com</a>
                  <a href="tel:+380966745356">+380 (96) 674 53 56</a>
                </li>
                <li>
                  <a href="/">Валентин Ніколаєв</a>
                  <a href="mailto:daria@gmail.com">daria@gmail.com</a>
                  <a href="tel:+380966745356">+380 (96) 674 53 56</a>
                </li>
                <li>
                  <a href="/">Валентин Ніколаєв</a>
                  <a href="mailto:daria@gmail.com">daria@gmail.com</a>
                  <a href="tel:+380966745356">+380 (96) 674 53 56</a>
                </li>
                <li>
                  <a href="/">Валентин Ніколаєв</a>
                  <a href="mailto:daria@gmail.com">daria@gmail.com</a>
                  <a href="tel:+380966745356">+380 (96) 674 53 56</a>
                </li>
                <li>
                  <a href="/">Валентин Ніколаєв</a>
                  <a href="mailto:daria@gmail.com">daria@gmail.com</a>
                  <a href="tel:+380966745356">+380 (96) 674 53 56</a>
                </li>
                <li>
                  <a href="/">Валентин Ніколаєв</a>
                  <a href="mailto:daria@gmail.com">daria@gmail.com</a>
                  <a href="tel:+380966745356">+380 (96) 674 53 56</a>
                </li>
                <li>
                  <a href="/">Валентин Ніколаєв</a>
                  <a href="mailto:daria@gmail.com">daria@gmail.com</a>
                  <a href="tel:+380966745356">+380 (96) 674 53 56</a>
                </li>
                <li>
                  <a href="/">Валентин Ніколаєв</a>
                  <a href="mailto:daria@gmail.com">daria@gmail.com</a>
                  <a href="tel:+380966745356">+380 (96) 674 53 56</a>
                </li>
                <li>
                  <a href="/">Валентин Ніколаєв</a>
                  <a href="mailto:daria@gmail.com">daria@gmail.com</a>
                  <a href="tel:+380966745356">+380 (96) 674 53 56</a>
                </li>
              </ol>
            </div>
          </div>
          <div class="order-data-wrapper">
            <div class="" div-empty></div>

            <div class="order-data-top-right">
              <ol class="order-data-list-bottom">
                <li>
                  <a href="/">4кг-07</a><span>Фаховий молодший бакалавр</span>
                </li>
                <li>
                  <a href="/">4кг-07</a><span>Фаховий молодший бакалавр</span>
                </li>
                <li>
                  <a href="/">4кг-07</a><span>Фаховий молодший бакалавр</span>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %} {% block footer_scripts %} {% endblock %}
