{% set body_class = "student-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="student-main">
  {% include './components/_side.html' %}

  <section class="student-section">
    <div class="container">
      <div class="student-heading">
        <a href="/" class="go-back-link"
          ><img src="./images/icons/arr-back.svg" alt="arrow back"
        /></a>

        <h2 class="section-titile">Студент (-ка)</h2>
      </div>
      <div class="student-form">
        <div class="student-form-wrapper">
          <div class="student-form-inner">
            <div class="student-form-field third error">
              <label for="name" class="student-form-label">Ім’я</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Ім’я"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>

            <div class="student-form-field third">
              <label for="surname" class="student-form-label">Прізвище</label>
              <input
                type="text"
                id="surname"
                name="surname"
                placeholder="Прізвище"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>

            <div class="student-form-field third">
              <label for="middleName" class="student-form-label"
                >По батькові</label
              >
              <input
                type="text"
                id="middleName"
                name="middleName"
                placeholder="По батькові"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>

            <div class="student-form-field half">
              <label for="email" class="student-form-label">Пошта</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Пошта"
                class="student-form-input"
                autocomplete="off"
                disabled
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>
            <div class="student-form-field half error">
              <label for="tel" class="student-form-label">Номер телефону</label>
              <input
                type="tel"
                id="tel"
                name="tel"
                placeholder="+380 (22) 111 22 33"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>
            <div class="student-form-field half">
              <span class="student-form-label">Фото студента (-ки)</span>
              <div class="student-form-file-field">
                <label
                  for="fileInput"
                  id="fileInputLabel"
                  class="student-form-label-file"
                >
                  <span>Додати файл</span>
                  <img src="./images/icons/file.svg" alt="file icon" />
                </label>
                <input
                  type="file"
                  class="student-form-input-file"
                  id="fileInput"
                  name="file"
                />

                <div class="student-form-field-file-selected" id="selectedFile">
                  <div
                    class="student-form-selected-file"
                    id="selectedFileName"
                  ></div>
                  <img
                    src="/images/icons/cross.svg"
                    alt="i"
                    id="removeSelectedFile"
                  />
                </div>
                <span class="student-form-error-text"
                  >Обов’якове для заповнення поле</span
                >
              </div>
            </div>
            <div class="student-form-field-radio-wrapper">
              <div class="student-form-field half">
                <span class="student-form-label">Академ. відпуска</span>
                <div class="student-form-field-radio">
                  <label>
                    <input type="radio" name="vacation" value="Так" />
                    Так
                  </label>
                  <label>
                    <input type="radio" name="vacation" value="Ні" checked />
                    Ні
                  </label>
                </div>
              </div>

              <div class="student-form-field half">
                <span class="student-form-label">Гуртожиток</span>
                <div class="student-form-field-radio">
                  <label>
                    <input type="radio" name="hostel" value="Так" />
                    Так
                  </label>
                  <label>
                    <input type="radio" name="hostel" value="Ні" checked />
                    Ні
                  </label>
                </div>
              </div>
            </div>

            <div class="student-form-field third">
              <label for="group" class="student-form-label">Група</label>
              <select id="group" name="group" class="student-form-input">
                <option value="1КГ-07" selected>1КГ-07</option>
                <option value="2КГ-07">2КГ-07</option>
                <option value="3КГ-07">3КГ-07</option>
                <option value="4КГ-07">4КГ-07</option>
              </select>
            </div>
            <div class="student-form-field third">
              <label for="date" class="student-form-label">Дата вступу</label>
              <input
                type="date"
                id="date"
                name="date"
                class="student-form-input"
              />
            </div>
            <div class="student-form-field third">
              <label for="course" class="student-form-label"
                >Зарахований на курс</label
              >
              <select id="course" name="course" class="student-form-input">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>

            <div class="student-form-field third">
              <label for="educationForm" class="student-form-label"
                >Форма навчання</label
              >
              <select
                id="educationForm"
                name="educationForm"
                class="student-form-input"
              >
                <option value="Денна" selected>Денна</option>
                <option value="Заочна">Заочна</option>
                <option value="Дистанційна">Дистанційна</option>
                <option value="Денна4">Денна4</option>
              </select>
            </div>
            <div class="student-form-field third">
              <label for="financing" class="student-form-label"
                >Основа фінансування</label
              >
              <select
                id="financing"
                name="financing"
                class="student-form-input"
              >
                <option value="Контракт" selected>Контракт</option>
                <option value="Державна">Державна</option>
                <option value="Контракт2">Контракт2</option>
                <option value="Контракт4">Контракт4</option>
              </select>
            </div>
            <div class="student-form-field third">
              <label for="Enrollment" class="student-form-label"
                >Тип зарахування</label
              >
              <select
                id="Enrollment"
                name="Enrollment"
                class="student-form-input"
                disabled
              >
                <option value="Конкурс" selected>Конкурс</option>
                <option value="Конкурс1">Конкурс1</option>
                <option value="Конкурс2">Конкурс2</option>
                <option value="Конкурс3">Конкурс3</option>
              </select>
            </div>

            <div class="student-form-field third">
              <label for="birth" class="student-form-label"
                >Дата народження</label
              >
              <input
                type="date"
                id="birth"
                name="birth"
                class="student-form-input"
              />
            </div>
            <div class="student-form-field third">
              <label for="passportID" class="student-form-label"
                >ID паспорта</label
              >
              <input
                type="text"
                id="passportID"
                name="passportID"
                placeholder="ID паспорта"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>
            <div class="student-form-field third">
              <label for="passportSeries" class="student-form-label"
                >Серія паспорта</label
              >
              <input
                type="text"
                id="passportSeries"
                name="passportSeries"
                placeholder="Серія паспорта"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>

            <div class="student-form-field half">
              <label for="passportAuthority" class="student-form-label"
                >Ким виданий паспорт</label
              >
              <input
                type="text"
                id="passportAuthority"
                name="passportAuthority"
                placeholder="Ким виданий паспорт"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>
            <div class="student-form-field half">
              <label for="passporDate" class="student-form-label"
                >Дата видачі паспорта</label
              >
              <input
                type="date"
                id="passporDate"
                name="passporDate"
                class="student-form-input"
              />
            </div>

            <div class="student-form-field third">
              <label for="studentNumber" class="student-form-label"
                >Номер серії студ. квитка</label
              >
              <input
                type="text"
                id="studentNumber"
                name="studentNumber"
                placeholder="Номер серії студ. квитка"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>
            <div class="student-form-field third">
              <label for="studentIssue" class="student-form-label"
                >Виданий</label
              >
              <input
                type="date"
                id="studentIssue"
                name="studentIssue"
                class="student-form-input"
              />
            </div>
            <div class="student-form-field third">
              <label for="studentUntil" class="student-form-label"
                >Дійсний до</label
              >
              <input
                type="date"
                id="studentUntil"
                name="studentUntil"
                class="student-form-input"
              />
            </div>

            <div class="student-form-field half">
              <label for="inn" class="student-form-label"
                >Ідентифікаційний код</label
              >
              <input
                type="text"
                id="inn"
                name="inn"
                placeholder="Ідентифікаційний код"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>
            <div class="student-form-field half">
              <label for="school" class="student-form-label"
                >Навчальний заклад</label
              >
              <input
                type="text"
                id="school"
                name="school"
                placeholder="Навчальний заклад"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>

            <div class="student-form-field third">
              <label for="father" class="student-form-label">Батько</label>
              <input
                type="text"
                id="father"
                name="father"
                placeholder="Введіть ПІБ або номер телефону"
                class="student-form-input"
                autocomplete="off"
                value=""
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
              <div class="student-form-search-result">
                <ul class="student-form-search-result-list">
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                </ul>
              </div>
            </div>
            <div class="student-form-field third">
              <label for="mother" class="student-form-label">Мати</label>
              <input
                type="text"
                id="mother"
                name="mother"
                placeholder="Введіть ПІБ або номер телефону"
                class="student-form-input"
                autocomplete="off"
                value=""
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
              <div class="student-form-search-result">
                <ul class="student-form-search-result-list">
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                </ul>
              </div>
            </div>
            <div class="student-form-field third">
              <label for="guardian" class="student-form-label">Опікун</label>
              <input
                type="text"
                id="guardian"
                name="guardian"
                placeholder="Введіть ПІБ або номер телефону"
                class="student-form-input"
                autocomplete="off"
                value=""
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
              <div class="student-form-search-result show">
                <ul class="student-form-search-result-list">
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                  <li class="student-form-search-result-item">search-result</li>
                </ul>
              </div>
            </div>

            <div class="student-form-field">
              <label for="Місце проживання" class="student-form-label"
                >Місце проживання</label
              >
              <input
                type="text"
                id="Місце проживання"
                name="Місце проживання"
                placeholder="Місце проживання"
                class="student-form-input"
                autocomplete="off"
                value=""
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>

            <div class="student-form-field third">
              <label for="educationDocNumber" class="student-form-label"
                >Номер документу про освіту</label
              >
              <input
                type="text"
                id="educationDocNumber"
                name="educationDocNumber"
                placeholder="Номер документу про освіту"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>
            <div class="student-form-field third">
              <label for="educationDocSeries" class="student-form-label"
                >Серія документу про освіту</label
              >
              <input
                type="text"
                id="educationDocSeries"
                name="educationDocSeries"
                placeholder="Серія документу про освіту"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>
            <div class="student-form-field third">
              <label for="graduationDate " class="student-form-label"
                >Дата випуску з навчального закладу</label
              >
              <input
                type="date"
                id="graduationDate"
                name="graduationDate"
                class="student-form-input"
                autocomplete="off"
              />
              <span class="student-form-error-text"
                >Обов’якове для заповнення поле</span
              >
            </div>

            <div class="student-form-field half">
              <label for="language " class="student-form-label"
                >Мова, яку вивчав (-ла)</label
              >
              <select id="language" name="language" class="student-form-input">
                <option value="Англійська" selected>Англійська</option>
                <option value="Іспанська">Іспанська</option>
                <option value="Німецька">Німецька</option>
                <option value="Польська">Польська</option>
              </select>
            </div>
            <div class="student-form-field half">
              <label for="benefits " class="student-form-label">Пільги</label>
              <select id="benefits" name="benefits" class="student-form-input">
                <option value="Вдсутні" selected>Вдсутні</option>
                <option value="Багатодітна родина">Багатодітна родина</option>
                <option value="Багатодітна родина2">Багатодітна родина2</option>
                <option value="Багатодітна родина4">Багатодітна родина3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="student-form-btn-wrapper">
          <button type="button" class="student-form-btn delete">
            <img src="/images/icons/trash-icon.svg" alt="trash" />
          </button>
          <button type="submit" class="student-form-btn submit">
            Зберігти
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %} {% block footer_scripts %} {% endblock %}
