{% set body_class = "student-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="student-main">
  {% include './components/_side.html' %}

  <section class="student-card-section">
    <div class="container">
      <div class="student-card-info">
        <div class="student-card-info-left">
          <div class="student-heading">
            <div class="student-heading-edit-wraper">
              <h2 class="section-titile">Майстренко Дар’я Олександрівна</h2>
              <dib class="student-heading-icon-wrapper">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="student-heading-icon-edit"
                >
                  <path
                    d="M13.0779 4.50136C13.2368 4.34241 13.4255 4.21632 13.6332 4.1303C13.8409 4.04428 14.0635 4 14.2883 4C14.513 4 14.7356 4.04428 14.9433 4.1303C15.151 4.21632 15.3397 4.34241 15.4986 4.50136C15.6576 4.66031 15.7837 4.84901 15.8697 5.05669C15.9557 5.26436 16 5.48695 16 5.71174C16 5.93653 15.9557 6.15912 15.8697 6.3668C15.7837 6.57447 15.6576 6.76317 15.4986 6.92212L7.32855 15.0922L4 16L4.90779 12.6714L13.0779 4.50136Z"
                    stroke="#2A2D34"
                    stroke-width="1.6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="student-heading-icon-del"
                >
                  <path
                    d="M4 5.8H5.33333M5.33333 5.8H16M5.33333 5.8V15.6C5.33333 15.9713 5.47381 16.3274 5.72386 16.5899C5.97391 16.8525 6.31304 17 6.66667 17H13.3333C13.687 17 14.0261 16.8525 14.2761 16.5899C14.5262 16.3274 14.6667 15.9713 14.6667 15.6V5.8H5.33333ZM7.33333 5.8V4.4C7.33333 4.0287 7.47381 3.6726 7.72386 3.41005C7.97391 3.1475 8.31304 3 8.66667 3H11.3333C11.687 3 12.0261 3.1475 12.2761 3.41005C12.5262 3.6726 12.6667 4.0287 12.6667 4.4V5.8M8.66667 9.3V13.5M11.3333 9.3V13.5"
                    stroke="#2A2D34"
                    stroke-width="1.6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </dib>
            </div>

            <span class="section-titile">Група: 4кг-07</span>
          </div>

          <div class="student-card-link-wrapper">
            <a href="/">Особова картка</a>
            <a href="/">Індивідуальний план</a>
          </div>
          <div class="student-card-info-left-inner">
            <div class="student-card-info-left-inner-left">
              <div class="student-card-photo">
                <img src="./images/photo.jpg" alt="student photo" />
              </div>
              <div class="student-card-info-item">
                <h3 class="student-card-info-item-title">Дата вступу</h3>
                <span class="student-card-info-item-descr">01.09.2020</span>
              </div>
              <div class="student-card-info-item">
                <h3 class="student-card-info-item-title">Статус</h3>
                <span class="student-card-info-item-descr">навчається</span>
              </div>
              <div class="student-card-info-item">
                <h3 class="student-card-info-item-title">Академ. відпустка</h3>
                <span class="student-card-info-item-descr">ні</span>
              </div>
            </div>
            <div class="student-card-info-left-inner-right">
              <div class="student-card-info-item-big">
                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">Пошта</h3>
                  <a
                    href="mailto:daria@gmail.com"
                    class="student-card-info-item-link"
                    >daria@gmail.com</a
                  >
                </div>

                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">Номер телефону</h3>
                  <a
                    href="tel:+380966745356"
                    class="student-card-info-item-link"
                    >+380 (96) 674 53 56</a
                  >
                </div>

                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">Дата народження</h3>
                  <span class="student-card-info-item-descr">12.12.2007</span>
                </div>
                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">ID паспорта</h3>
                  <span class="student-card-info-item-descr">56748903</span>
                </div>

                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">Серія паспорта</h3>
                  <span class="student-card-info-item-descr">765432</span>
                </div>

                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">
                    Ідентифікаційний код
                  </h3>
                  <span class="student-card-info-item-descr"
                    >9876543234567</span
                  >
                </div>

                <div class="student-card-info-item-elem half">
                  <h3 class="student-card-info-item-title">
                    Ким виданий паспорт
                  </h3>
                  <span class="student-card-info-item-descr">97473</span>
                </div>

                <div class="student-card-info-item-elem half">
                  <h3 class="student-card-info-item-title">
                    Дата видачі паспорта
                  </h3>
                  <span class="student-card-info-item-descr">12.03.2020</span>
                </div>

                <div class="student-card-info-item-elem">
                  <h3 class="student-card-info-item-title">Місце проживання</h3>
                  <span class="student-card-info-item-descr"
                    >вул. Loremipsum dolor sit amet consectetur adipiscing elit.
                    кв. 12</span
                  >
                </div>

                <div class="student-card-info-item-elem">
                  <h3 class="student-card-info-item-title">
                    Назва навчального закладу
                  </h3>
                  <span class="student-card-info-item-descr"
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                    venenatis auctor suscipit.</span
                  >
                </div>
              </div>

              <div class="student-card-info-item-big">
                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">
                    Номер серії студ. квитка
                  </h3>
                  <span class="student-card-info-item-descr">654343</span>
                </div>
                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">Виданий</h3>
                  <span class="student-card-info-item-descr">12.03.2021</span>
                </div>
                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">Дійсний до</h3>
                  <span class="student-card-info-item-descr">12.03.2025</span>
                </div>
              </div>

              <div class="student-card-info-item-big">
                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">Форма навчання</h3>
                  <span class="student-card-info-item-descr">Денна</span>
                </div>
                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">
                    Основа фінансування
                  </h3>
                  <span class="student-card-info-item-descr">Контракт</span>
                </div>
                <div class="student-card-info-item-elem third">
                  <h3 class="student-card-info-item-title">Вступив на курс</h3>
                  <span class="student-card-info-item-descr">1</span>
                </div>
                <div class="student-card-info-item-elem">
                  <h3 class="student-card-info-item-title">Тип зарахування</h3>
                  <span class="student-card-info-item-descr">
                    На умовах повного відшкодування: державний кредит, фізична,
                    юридична особа
                  </span>
                </div>

                <div class="student-card-info-item-elem">
                  <h3 class="student-card-info-item-title">Пільги</h3>
                  <span class="student-card-info-item-descr">
                    Багатодітна родина
                  </span>
                </div>
              </div>

              <div class="student-card-info-item-big">
                <div class="student-card-info-item-elem half">
                  <h3 class="student-card-info-item-title">
                    Номер документу про освіту
                  </h3>
                  <span class="student-card-info-item-descr">97473</span>
                </div>
                <div class="student-card-info-item-elem half">
                  <h3 class="student-card-info-item-title">
                    Серія документу про освіту
                  </h3>
                  <span class="student-card-info-item-descr">97473</span>
                </div>
                <div class="student-card-info-item-elem half">
                  <h3 class="student-card-info-item-title">
                    Дата випуску з навчального закладу
                  </h3>
                  <span class="student-card-info-item-descr">12.03.2025</span>
                </div>
                <div class="student-card-info-item-elem half">
                  <h3 class="student-card-info-item-title">
                    Мова, яку вивчав (-ла)
                  </h3>
                  <span class="student-card-info-item-descr">Англійська</span>
                </div>
              </div>

              <div class="student-card-info-item-big">
                <div class="student-card-info-item-elem half">
                  <h3 class="student-card-info-item-title">ПІБ матері</h3>
                  <a href="/" class="student-card-info-item-link"
                    >Майстренко Дар’я Олександрівна</a
                  >
                </div>

                <div class="student-card-info-item-elem half">
                  <h3 class="student-card-info-item-title">
                    Номер телефону матері
                  </h3>
                  <a
                    href="tel:+380966745356"
                    class="student-card-info-item-link"
                    >+380 (96) 674 53 56</a
                  >
                </div>
                <div class="student-card-info-item-elem half">
                  <h3 class="student-card-info-item-title">ПІБ батька</h3>
                  <a href="/" class="student-card-info-item-link"
                    >Майстренко Дар’я Олександрівна</a
                  >
                </div>

                <div class="student-card-info-item-elem half">
                  <h3 class="student-card-info-item-title">
                    Номер телефону батька
                  </h3>
                  <a
                    href="tel:+380966745356"
                    class="student-card-info-item-link"
                    >+380 (96) 674 53 56</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="student-card-info-right">
          <h3 class="student-card-info-item-title">Накази студента (-тки)</h3>
          <div class="student-card-order-list">
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
            <li><a href="/">657489302 - тип наказу</a></li>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %} {% block footer_scripts %} {% endblock %}
